@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --options-inner-bg: 0, 0, 185;
  --orange: 255, 182, 47;
  --green: 1, 173, 1;
  --red: 225, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.blue-bg {
  background-color: rgb(0, 0, 95);
}

.light-blue {
  background-color: rgb(var(--options-inner-bg));
}

.orange {
  color: rgb(var(--orange));
}

.orange-bg {
  background-color: rgb(var(--orange));
  color: white;
}

.green-bg {
  background-color: rgb(var(--green));
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.options-block {
  height: 400px;
}

.shape-wrap {
  width: 90%;
}

.option-wrap {
  padding: 0 30px;
}

.option {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 5;
}

.option::before {
  content: "";
  position: absolute;
  left: -29.8675px;
  top: 0;
  width: 0;
  height: 100%;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 29.8675px solid white;
}
.option::after {
  content: "";
  position: absolute;
  right: -29.8675px;
  bottom: 0;
  width: 0;
  height: 100%;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 29.8675px solid white;
}

/* .option.selected,  */
.option.selected .option-inner {
  background-color: rgb(var(--orange));
  border-left: 2px solid rgb(var(--orange));
  border-right: 2px solid rgb(var(--orange));
}

.option.selected .option-inner::before {
  border-right: 24.8675px solid rgb(var(--orange));
}

.option.selected .option-inner::after {
  border-left: 24.8675px solid rgb(var(--orange));
}

/* .option.answer,  */
.option.answer .option-inner {
  background-color: rgb(var(--green));
  border-left: 2px solid rgb(var(--green));
  border-right: 2px solid rgb(var(--green));
  /* animation when answer is correct */
}

.option.answer .option-inner::before {
  border-right: 24.8675px solid rgb(var(--green));
}

.option.answer .option-inner::after {
  border-left: 24.8675px solid rgb(var(--green));
}

/* .option.wrong,  */
.option.wrong .option-inner {
  background-color: rgb(var(--red));
  border-left: 2px solid rgb(var(--red));
  border-right: 2px solid rgb(var(--red));
  /* animation when selected option is wrong */
}

.option.wrong .option-inner::before {
  border-right: 24.8675px solid rgb(var(--red));
}

.option.wrong .option-inner::after {
  border-left: 24.8675px solid rgb(var(--red));
}

.option-inner {
  /* width: calc(100% + 60px); */
  position: relative;
  height: calc(100% - 8px);
  background-color: rgb(var(--options-inner-bg));
  border-left: 1px solid rgb(var(--options-inner-bg));
  border-right: 1px solid rgb(var(--options-inner-bg));
}

.option-inner::before {
  content: "";
  position: absolute;
  left: -24.8675px;
  top: 0;
  width: 0;
  height: 100%;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-right: 24.8675px solid rgb(var(--options-inner-bg));
}

.option-inner::after {
  content: "";
  position: absolute;
  right: -24.8675px;
  bottom: 0;
  width: 0;
  height: 100%;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 24.8675px solid rgb(var(--options-inner-bg));
  z-index: 10;
}
.question {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 5;
  border-left: 1px solid rgb(var(--options-inner-bg));
  border-right: 1px solid rgb(var(--options-inner-bg));
}

.question::before {
  content: "";
  position: absolute;
  left: -29.8675px;
  top: 0;
  width: 0;
  height: 100%;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 29.8675px solid white;
}
.question::after {
  content: "";
  position: absolute;
  right: -29.8675px;
  bottom: 0;
  width: 0;
  height: 100%;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 29.8675px solid white;
}

.question-inner {
  /* width: calc(100% + 60px); */
  position: relative;
  height: calc(100% - 8px);
  background-color: rgb(var(--options-inner-bg));
  border-left: 2px solid rgb(var(--options-inner-bg));
  border-right: 2px solid rgb(var(--options-inner-bg));
}

.question-inner::before {
  content: "";
  position: absolute;
  left: -24.8675px;
  top: 0;
  width: 0;
  height: 100%;
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
  border-right: 24.8675px solid rgb(var(--options-inner-bg));
}

.question-inner::after {
  content: "";
  position: absolute;
  right: -24.8675px;
  bottom: 0;
  width: 0;
  height: 100%;
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
  border-left: 24.8675px solid rgb(var(--options-inner-bg));
  z-index: 10;
}

.line {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
}

.questionLine {
  top: 48px;
}

.firstLine {
  top: 28px;
}

.secondLine {
  bottom: 28px;
}

@keyframes displayOption {
  from {opacity: 0;}
  to {opacity: 1;}
}

.option-0 {
  animation-name: displayOption;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
}
.option-1 {
  animation-name: displayOption;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 1.5s;
}
.option-2{
  animation-name: displayOption;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 2.5s;
}
.option-3 {
  animation-name: displayOption;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 3.5s;
}

.life-line {
  position: relative;
}

.life-line.used::before {
  content: "";
  position:absolute;
  top: 0;
  width: 5px;
  height: 100px;
  background-color: rgb(var(--red));
  transform: rotate(45deg);
}

.life-line.used::after {
  content: "";
  position:absolute;
  top: 0;
  width: 5px;
  height: 100px;
  background-color: rgb(var(--red));
  transform: rotate(-45deg);
}
